<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/style/login.css">
</head>
<body>
    <div class="container right-panel-active">
        <!-- Sign Up -->
        <div class="container__form container--signup">
            <form class="form" id="form1">
                <h2 class="form__title">Sign Up</h2>
                <input name="fullname" type="text" placeholder="User" class="input" />
                <input name="username" type="text" placeholder="Username" class="input" />
                <input name="password" type="password" placeholder="Password" class="input" />
                <button class="btn">Sign Up</button>
            </form>
        </div>

        <!-- Sign In -->
        <div class="container__form container--signin">
            <form action="/login" method="post" class="form" id="form2">
                <h2 class="form__title">Sign In</h2>
                <input name="username" type="text" placeholder="Username" class="input" />
                <input name="password" type="password" placeholder="Password" class="input" />
                <a href="#" class="link">Forgot your password?</a>
                <button class="btn">Sign In</button>
            </form>
        </div>

        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn">Sign In</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/login.js"></script>
</body>
</html>